<app-breadcrumb [data]="breadcrumb"></app-breadcrumb>
<p-toast position="top-right"></p-toast>
<p-confirmDialog appendTo="body"></p-confirmDialog>

<div class="flex justify-content-between flex-wrap mb-2">
    <div class="flex align-items-center justify-content-center  ">

        <i class="pi pi-users text-primary text-3xl"></i>
        <span class="mx-2 font-semibold text-3xl" translate>Teams</span>
    </div>
    <div class="flex align-items-center justify-content-center  ">


        <div class="flex align-items-center justify-content-center m-2">
            <button pButton pRipple type="button" icon=" pi pi-envelope text-lg"
            class="p-button-rounded p-button-outlined p-button-secondary2 "></button>
        </div>
        <div class="flex align-items-center justify-content-center  m-2 ">
            <button pButton pRipple type="button" icon="pi pi-filter-fill "
                class="p-button-rounded p-button-outlined p-button-secondary2 "></button>

        </div>

     

    </div>
</div>

<div class="grid mt-2 text-center">
    <ng-container *ngIf="!loading">
    <div *ngFor="let team of teams" class="lg:col-3 md:col-4 sm:col-6 ">
        <app-team-card [data]="team"></app-team-card>
    </div>
</ng-container>
    <app-loading *ngIf="loading" display="full"></app-loading>

</div>