<app-loading *ngIf="loading" display="full"></app-loading>

<app-sidebar [display]="display" (displayChange)="onHide()" >
    <div header>
        <div class="flex justify-content-between flex-wrap ">
            <div class="flex align-items-center justify-content-center   ">
                <div class="flex-initial flex align-items-center justify-content-center mx-2">
                    <button pButton (click)="onHide()" pRipple type="button"  icon="pi pi-times"
                        class="p-button-rounded p-button-secondary p-button-lg p-button-text btn-white "></button>
                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>

                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <span class="text-3xl text-white "> {{title|translate}} </span>

                </div>

            </div>
            <div class="flex align-items-center justify-content-center  ">

                <button pButton pRipple type="button" [label]="'Save'|translate" (click)="meetingAddEdit()"
                    icon="pi pi-check " [disabled]="form?.invalid || meeting.props.Invalid"
                    class="p-button-rounded p-button-outlined p-button-secondary2  p-button-lg text-btn "></button>


            </div>
        </div>
    </div>
    <form #form="ngForm" body class="px-5 ">
        <div class="grid ">
            <div class="lg:col-6 sm:col-12 ">
                <app-input [(ngModel)]="meeting.title" name="title" [title]="'Title'|translate"
                    [required]="true"></app-input>
            </div>
            <div class="lg:col-6 sm:col-12">

                <app-select-status [(ngModel)]="meeting.priority" [required]="true" name="priority"
                    [title]="'Priority'|translate" [statues]="priorities"></app-select-status>

            </div>
            <div class="col-12 ">
                <app-text-editor [(ngModel)]="meeting.agenda" name="agenda"
                    [title]="'Agenda'|translate"></app-text-editor>

            </div>
            <div class="lg:col-6 sm:col-12 ">
                <app-calendar [(ngModel)]="meeting.startDateTime" (ngModelChange)="startDateChange()" [showTime]="true" [required]="true"
                    name="startDateTime" showIcon="true" [title]="'Start Date'|translate"></app-calendar>
            </div>
            <div class="lg:col-6 sm:col-12 ">
                <app-calendar [(ngModel)]="meeting.finishDateTime" (ngModelChange)="finishDateChange()"  [showTime]="true" [timeOnly]="true" [required]="true"
                    name="finishDateTime" showIcon="true" [title]="'Finish Date'|translate"></app-calendar>
            </div>

            <div class="lg:col-6 sm:col-12 ">
                <app-find-user multiple="true" [(ngModel)]="meeting.invited" name="Invited" [required]="true"
                    [title]="'Invited'|translate"></app-find-user>

            </div>
            <div class="lg:col-6 sm:col-12 ">
                <app-input [(ngModel)]="meeting.location" name="location" [title]="'Location'|translate"
                    [required]="true"></app-input>
            </div>

            <div class="col-12">
                <app-text-area [(ngModel)]="meeting.notes" name="notes" [title]="'Notes'|translate"></app-text-area>
            </div>
            <div *ngIf="meeting?.props" class=" col-12">
                
                <app-dynamic-properties #dynamicProperties [(props)]="meeting.props" (formInvalid)="meeting.props.Invalid=$event"></app-dynamic-properties>
            </div>
            <div class="col-12 mb-7">

                <app-attachment [(attachments)]="meeting.attachments"></app-attachment>

            </div>
        </div>
    </form>


</app-sidebar>
