.meeting-card {
    border: solid 1px var(--blue-100);
    border-radius: 8px;
    background-color: var(--blue-50);
    width: -webkit-fill-available;
    cursor: pointer;
}

.meeting-card-focus {
    background-color: #fde0c267;
    border-color:var(--orange-100);
}