<app-loading *ngIf="loading" display="full"></app-loading>
<app-sidebar [display]="display" (displayChange)="onHide()">
    <div header>
        <div class="flex justify-content-between flex-wrap ">
            <div class="flex align-items-center justify-content-center   ">
                <div class="flex-initial flex align-items-center justify-content-center mx-2">
                    <button pButton (click)="onHide()" pRipple type="button" icon="pi pi-times"
                        class="p-button-rounded p-button-secondary p-button-lg p-button-text btn-white "></button>
                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>

                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <span class="text-3xl text-white "> {{title|translate}} </span>

                </div>

            </div>
            <div class="flex align-items-center justify-content-center mx-2 ">

                <button pButton pRipple type="button" [label]="'Save'|translate" icon="pi pi-check "
                    [disabled]="form?.invalid || committee?.props?.Invalid || !committee?.deliverables || !committee?.chairmanResponsibilities" (click)="committeeAddEdit()"
                    class="p-button-rounded p-button-outlined p-button-secondary2  p-button-lg text-btn "></button>


            </div>
        </div>
    </div>
    <form #form="ngForm" body class="px-5 pb-8">
        <div *ngIf="!loading"  class="grid ">
            <div class=" lg:col-6  sm:col-12">
                <app-input [(ngModel)]="committee.title.en" name="titleEn" [title]="'English Title'|translate"
                    [required]="true"></app-input>
            </div>
            <div class=" lg:col-6  sm:col-12">
                <app-input [(ngModel)]="committee.title.ar" name="titleAr" [title]="'Arabic Title'|translate"
                    [required]="true"></app-input>
            </div>

            <div class="col-12 ">
                <app-text-editor [(ngModel)]="committee.details" name="Details" [title]="'Details'|translate"
                    [required]="true"></app-text-editor>
            </div>

            <div class=" lg:col-6  sm:col-12">
                <app-calendar [(ngModel)]="committee.startDate" [required]="true" name="startDate"
                    [title]="'Start Date'|translate" showIcon="true"></app-calendar>
            </div>

            <div class=" lg:col-6  sm:col-12">

                <app-calendar [(ngModel)]="committee.endDate" (ngModelChange)="endDateChange()" [required]="true" name="endDate" showIcon="true"
                    [title]="'End Date'|translate" showIcon="true"></app-calendar>
            </div>

            <div class=" lg:col-6  sm:col-12">
                <app-find-user [(ngModel)]="committee.chairman" name="chairman" [required]="true"
                    [title]="'Chairman'|translate"></app-find-user>
            </div>
            <div class=" lg:col-6  sm:col-12">
                <app-find-user [(ngModel)]="committee.secretary" name="secretary" [required]="true"
                    [title]="'Secretary'|translate"></app-find-user>

            </div>

            <div class=" lg:col-6  sm:col-12">
                <app-find-user multiple="true" [(ngModel)]="committee.members" name="members" [required]="true"
                    [title]="'Members'|translate"></app-find-user>
            </div>

            <div class=" lg:col-6  sm:col-12">
                <app-select-status [(ngModel)]="committee.status" [required]="true" name="status"
                    [title]="'Status'|translate" [statues]="statuses"></app-select-status>
            </div>
            <div class=" lg:col-6  sm:col-12">
                <app-select-status [(ngModel)]="committee.flag"  name="flags"
                    [title]="'Flag'|translate" [statues]="flags"></app-select-status>
            </div>
            <div class=" lg:col-6  sm:col-12">
                <app-select-status [(ngModel)]="committee.type"  name="types"
                    [title]="'Type'|translate" [statues]="types" [showColor]="false"></app-select-status>
            </div>
            <div class=" lg:col-6  sm:col-12">
                <app-select-status [(ngModel)]="committee.recurrence"  name="recurrence"
                    [title]="'Recurrence'|translate" [statues]="recurrences" [showColor]="false"></app-select-status>
            </div>
            <div class=" lg:col-6  sm:col-12">
                <app-list-data [title]="'Deliverables'|translate" [title2]="'New Deliverable'|translate" [(value)]="committee.deliverables"  name="Deliverables"></app-list-data>
            </div>
            <div class=" lg:col-6  sm:col-12">
                <app-list-data [title]="'Responsibilities'|translate" [title2]="'New Responsibility'|translate" [(value)]="committee.chairmanResponsibilities" name="Responsibilities"></app-list-data>
            </div>
         
            <div class="lg:col-6  sm:col-12">
                <app-image-upload title="Profile Picture"  [(image)]="committee.profilePic" ></app-image-upload>
                
            </div>
            <div *ngIf="committee?.props" class=" col-12">
                <app-dynamic-properties #dynamicProperties [(props)]="committee.props" (formInvalid)="committee.props.Invalid=$event"></app-dynamic-properties>
            </div>
            <div class="col-12">
                <app-attachment [(attachments)]="committee.attachments"></app-attachment>

            </div>
        </div>
    </form>
</app-sidebar>