<app-breadcrumb [data]="breadcrumb"></app-breadcrumb>
<p-toast position="top-right"></p-toast>
<p-confirmDialog appendTo="body"></p-confirmDialog>
<app-loading *ngIf="loading" display="full"></app-loading>

<div class="block mt-2">
    <i class="icon-statistics  text-primary text-3xl"></i>
    <span class="mx-2 font-semibold text-3xl" translate>Dashboard</span>
</div>
<ng-container *ngIf="!loading">
    <div class="grid mt-2">
        <div *ngFor="let item of dashboard?.header" class="lg:col-2card sm:col-6">
            <app-card-colored [color]='item?.color' class="cursor-pointer"
                (click)="onDataSelect({type:item?.type,filed:item?.filed},item?.id)">
                <div body>
                    <div style="justify-content: unset !important;" class="flex ">
                        <div class="mt-2">
                            <div style="max-width: 50px;max-height: 50px;" class="relative "
                                [style.background-color]="hexToRGB(item?.color,0.1)"
                                [style.color]="hexToRGB(item?.color,0.8)">
                                <i class="p-2 m-1 text-3xl" [style.color]="item?.color" [class]="item?.icon"></i>
                            </div>
                        </div>
                        <div>
                            <div class="mx-4 text-3xl font-bold">{{item?.count}}</div>
                            <div class="mx-4 text-lg text-500 font-bold" translate>{{item?.name}}
                            </div>
                        </div>

                    </div>
                </div>
            </app-card-colored>
        </div>
    </div>

    <div class="grid mt-2">
        <div class=" lg:col-7 sm:col-12">
            <div #cardTask class="card">
                <div class="card-header">
                    <div class="card-title flex align-items-center">
                        <div class="text-xl font-semibold" translate>Tasks
                        </div>
                    </div>
                </div>
                <div *ngIf="dashboard?.tasksCount!=0" class="grid">
                    <div class="col-4" [class]="'css.border-right'|translate">
                        <div *ngFor="let item of dashboard?.tasksCards" class="mb-4">
                            <div class="card shadow-none w-10 p-2 cursor-pointer"
                                [style.border]="'solid 2px '+hexToRGB(item?.color,0.4)"
                                (click)="onDataSelect({type:'Tasks',filed:'statues'},item?.id)"
                                [style.background-color]="hexToRGB(item?.color,0.03)">
                                <div class="mx-4 text-3xl font-bold" [style.color]="hexToRGB(item?.color,0.8)">
                                    {{item?.count}}</div>
                                <div class="mx-4 text-lg font-semibold" [style.color]="hexToRGB(item?.color,0.8)"
                                    translate>
                                    {{item?.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 p-0">
                        <div [class]="'css.ml-4'|translate">
                            <div class="flex flex-wrap justify-content-center ">
                                <div class="relative w-12">
                                    <p-chart type="doughnut" height="300px"
                                        (onDataSelect)="onDataSelect({type:'Tasks',filed:'statues'},dashboard?.doughnutTaskStatusID[$event.element.index])"
                                        [options]="{plugins: { legend: {labels:{ boxWidth: 10,color:textSecondaryColor}}}}"
                                        [data]="dashboard?.doughnutTaskStatus"></p-chart>
                                    <div class="absolute text-center w-full " style="top:130px">
                                        <div translate class="font-semibold  text-3xl " translate>
                                            {{dashboard?.tasksCount}}</div>
                                        <div translate class="font-semibold text-500 text-lg " translate>Tasks</div>
                                    </div>
                                    <div translate class="font-semibold text-500 text-center mt-2" translate>Status
                                        for
                                        all Tasks</div>


                                </div>




                            </div>
                        </div>
                    </div>

                </div>
                <div *ngIf="dashboard?.tasksCount==0" class="font-semibold text-xl text-center my-8" translate>
                    <i class="pi pi-exclamation-circle text-xl mx-2"></i>
                    No data to preview
                </div>

            </div>

        </div>
        <div class=" lg:col-5 sm:col-12">
            <div [style.height]="cardTask?.offsetHeight+'px'" class="card">
                <div class="card-header">

                    <div class="card-title flex align-items-center">
                        <div class="text-xl font-semibold" translate>Meetings
                        </div>

                    </div>
                </div>
                <p-chart type="bar" responsive="true" [data]="dashboard.meetingsChartBar" [height]="300"
                    (onDataSelect)="onDataSelect({type:'Meetings',filed:'request'},dashboard?.meetingsChartBarID[$event.element.index])"
                    [options]="dashboard.meetingsChartBarOpction"></p-chart>
                <div class="flex" style=" direction: initial;">
                    <div class="font-semibold text-500" style="width:30%;text-align: end;">
                        {{dashboard.doughnutChartBarNames[0]}}
                    </div>
                    <div class="font-semibold text-500" style="width:52%;text-align: end;">
                        {{dashboard.doughnutChartBarNames[1]}}
                    </div>
                </div>

                <div *ngIf="dashboard?.tasksCount==0" class="font-semibold text-xl text-center my-8" translate>
                    <i class="pi pi-exclamation-circle text-xl mx-2"></i>
                    No data to preview
                </div>

            </div>

        </div>


    </div>

    <div class="grid mt-2">
        <div class=" lg:col-7 sm:col-12">
            <div #cardCommittees class="card">
                <div class="card-header">
                    <div class="card-title flex align-items-center">
                        <div class="text-xl font-semibold" translate>Committees
                        </div>
                    </div>
                </div>
                <div *ngIf="dashboard.committeesCount!=0" class="grid">
                    <div class="col-4" [class]="'css.border-right'|translate">
                        <div class="w-10 relative">
                            <p-chart type="doughnut" [height]="270"
                                [options]="{plugins: { legend: {labels:{ boxWidth: 10,color:textSecondaryColor}}}}"
                                (onDataSelect)="onDataSelect({type:'Committees',filed:'statues'},dashboard?.doughnutCommitteesStatus?.datasets[0]?.data[$event.element.index]?.id)"
                                [data]="dashboard?.doughnutCommitteesStatus"></p-chart>
                            <div class="absolute text-center w-full textCenter-doughnut ">
                                <div  class="font-semibold  text-3xl " translate>
                                    {{dashboard?.committeesCount}}</div>
                                <div  class="font-semibold text-500 text-lg " translate>Committees</div>
                            </div>
                            <div  class="font-semibold text-500 text-center mt-2" translate>Committees per
                                Status</div>

                        </div>
                    </div>
                    <div class="col-8 ">
                        <div [class]="'css.ml-4'|translate">
                            <div class=" relative">
                                <div class="font-semibold text-center " translate>Committees By Types</div>
                                <div class="flex align-items-center justify-content-center">
                                    <div *ngFor="let item of dashboard?.barCommitteesTypesitems" class="flex mt-4 "
                                    (click)="onLegendClickCommitteesTypes(item)"
                                    style="cursor: default;"
                                        [class]="'css.mr-3'|translate">
                                        <span style="width: 8px;height: 10px;" class="mt-1 mx-1"
                                            [style.background-color]="item.details?.color"></span>

                                        <span *ngIf="item.select==false"
                                            style="font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !important;"
                                            class="text-sm text-500" >
                                            {{item.name}}
                                        </span>
                                        <del *ngIf="item.select==true" class="text-sm"
                                        style="font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !important;">{{item.name}}</del>
                                    </div>
                                </div>
                                <p-chart type="bar" [data]="dashboard.barCommitteesTypes" [height]="280"
                                    (onDataSelect)="onDataSelect({type:'Committees',filed:'type'},dashboard?.barCommitteesTypesID[$event.element.index])"
                                    [options]="{plugins: {legend: { display: false, labels:{ boxWidth: 10,color:textSecondaryColor}}},  scales: { x: {grid: {color: 'white'}},y: {grid: { color: 'white'}}}}"></p-chart>

                            </div>
                           
                        </div>
                    </div>

                </div>
                <div *ngIf="dashboard.committeesCount==0" class="font-semibold text-xl text-center my-8" translate>
                    <i class="pi pi-exclamation-circle text-xl mx-2"></i>
                    No data to preview
                </div>
            </div>

        </div>
        <div class=" lg:col-5 sm:col-12">
            <div [style.height]="cardCommittees?.offsetHeight+'px'" class="card">
                <div class="card-header">

                    <div class="card-title flex align-items-center">
                        <div class="text-xl font-semibold" translate>Action Items
                        </div>

                    </div>
                </div>
                <div *ngIf="dashboard.action_ItemTotal!=0" class="flex flex-wrap justify-content-center gap-3 pt-2 ">
                    <div class="w-10 relative ">
                        <p-chart type="doughnut" [height]="270"
                            [options]="{plugins: { legend: {labels:{ boxWidth: 10,color:textSecondaryColor}}}}" (onDataSelect)="onDataSelect(
                            {type:'Tasks',filed:'target'},'ActionItem',
                        {type:'Tasks',filed:'statues'},dashboard?.actionItemsDoughnutDashboard?.datasets[0]?.data[$event.element.index]?.id
                        
                        )" [data]="dashboard?.actionItemsDoughnutDashboard"></p-chart>
                        <div class="absolute text-center w-full textCenter-doughnut">
                            <div translate class="font-semibold  text-3xl " translate>
                                {{dashboard.action_ItemTotal}}</div>
                            <div translate class="font-semibold text-500 text-lg " translate>All</div>
                        </div>


                    </div>


                </div>
                <div *ngIf="dashboard.action_ItemTotal==0" class="font-semibold text-xl  text-center  my-8" translate>
                    <i class="pi pi-exclamation-circle text-xl mx-2"></i>
                    No data to preview
                </div>

            </div>

        </div>
    </div>
</ng-container>



<app-modal [(display)]="showDetails" [footer]="false" [title]="'Chart Details'|translate" class="modal-lg">
    <div body>
        <app-dashbored-details *ngIf="showDetails" [dataToDisplay]="dataDetails"></app-dashbored-details>
    </div>
</app-modal>