<app-loading *ngIf="loadingTask" display="full"></app-loading>

<app-sidebar [display]="display" (displayChange)="onHide()">
    <div header>
        <div class="flex justify-content-between flex-wrap ">
            <div class="flex align-items-center justify-content-center   ">
                <div class="flex-initial flex align-items-center justify-content-center mx-2">
                    <button pButton pRipple type="button" icon="pi pi-times" (click)="onHide()"
                        class="p-button-rounded p-button-secondary p-button-lg p-button-text btn-white "></button>
                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>

                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <i class="pi pi-calendar text-100 text-3xl " [class]="'css.mr-2'|translate"></i>
                    <entity-viewer
                        [entity]="{type:'text',title:'CREATION DATE' | translate,value:task?.createdAt?.label}"
                        [darkMode]="true"></entity-viewer>
                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>

                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <i class="pi pi-calendar text-100 text-3xl " [class]="'css.mr-2'|translate"></i>
                    <entity-viewer [entity]="{type:'text',title:'DUE DATE'| translate,value:task?.dueDate?.label}"
                        [darkMode]="true"></entity-viewer>
                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>

                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <entity-viewer [entity]="{type:'user',title:'CREATED BY'|translate,value:task?.createdBy}"
                        [darkMode]="true"></entity-viewer>

                </div>



            </div>
            <div class="flex align-items-center justify-content-center  ">

                <div class="flex-initial flex align-items-center justify-content-center mx-2">
                    <button *ngIf="taskActinos?.length" (click)="menu.toggle($event)" pButton pRipple type="button" icon="pi pi-ellipsis-v"
                        class="p-button-rounded p-button-secondary p-button-lg p-button-text btn-white "></button>
                    <p-menu #menu id="taskActinos" styleClass="taskActinos" [popup]="true" appendTo="body"
                        [model]="taskActinos"></p-menu>

                </div>

                <div style="width:max-content;height: 65px;" [style.background]="task?.status?.details?.color"
                    class="flex-initial flex align-items-center justify-content-center px-3">
                    <div class="text-center">
                        <div class="text-xl text-white font-semibold"> {{task?.progress}} %</div>
                        <span class="text-xl text-white "> {{task?.status?.name}}</span>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div body>
        <div *ngIf="!loadingTask" class="grid pt-0 ">
            <div class="lg:col-6 sm:col-12 pt-0 overflow-y-auto" style="height:90vh ">
                <div #blockcol class="block pt-5" [class]="'css.pl-5'|translate">
                    <ng-container #title>
                        <div class="text-xl font-semibold mb-1">{{task?.title}}
                        </div>
                        <p class="text-lg">{{task?.description}}</p>
                    </ng-container>
                    <ng-container #props>
                        <div class="grid pt-5">
                            <div class="col-4">
                                <entity-viewer
                                    [entity]="{type:'status',title:'Priority'|translate,value:task?.priority}"></entity-viewer>
                            </div>

                            <div class="col-4">
                                <entity-viewer
                                    [entity]="{type:'status',title:'Status'|translate,value:task?.status}"></entity-viewer>
                            </div>
                            <div class="col-4">
                                <entity-viewer
                                    [entity]="{type:'user',title:'Responsible',value:task?.responsible}"></entity-viewer>

                            </div>
                        </div>
                    </ng-container>
                    <ng-container #progress>
                        <div class="pt-5">
                            <div class="text-lg font-semibold mb-2">{{'Progress'|translate}} % </div>

                            <app-prgoress [(value)]="task.progress" (valueChange)="progressChange()"
                                [color]="task?.status?.details?.color" [mode]="prgoressMode"></app-prgoress>

                        </div>
                    </ng-container>
                    <ng-container #Tags *ngIf="task?.tags?.length">
                        <div class="pt-5">
                            <div class="text-lg font-semibold mb-2" translate>Tags </div>
                            <div class="flex">
                                <div *ngFor="let tag of task?.tags"
                                    class="flex align-items-center justify-content-center mx-1">

                                    <entity-viewer
                                        [entity]="{type:'status',value:{name:tag?.tagName},class:'py-1'}"></entity-viewer>
                                </div>

                            </div>

                        </div>
                    </ng-container>
                    <ng-container #props *ngIf="task?.props?.length">
                        <div class="pt-6">
                            <app-dynamic-properties-preview [props]="task?.props"></app-dynamic-properties-preview>
                        </div>
                    </ng-container>
                    <ng-container #Update *ngIf="task?.updatedReason">
                        <div class="mt-6">
                            <div class="text-lg font-semibold mb-3 border-bottom pb-2 ">{{'Update Reason'|translate}}:
                            </div>
                            <div class="flex justify-content-between flex-wrap card-container purple-container">
                                <div class="flex align-items-center justify-content-center ">
                                    {{task?.updatedReason?.content}}
                                </div>
                                <div class="flex align-items-center justify-content-center">
                                    {{task?.updatedReason?.createdAt?.label}}</div>
                            </div>
                        </div>
                    </ng-container>
                    <div class="mt-6">
                        <app-attachment hideUpload="true" [(attachments)]="task.attachments"></app-attachment>
                    </div>

                </div>
            </div>
            <div class=" lg:col-6 sm:col-12 pt-0" [class]="'css.pl-0'|translate">
                <div #RelatedMembers class="border-bottom-2 p-3  relative surface-50"
                    [style.border-color]="'var(--surface-200)'">
                    <div class="text-lg font-semibold  pb-2 ">{{'Related Members'|translate}}: </div>

                    <div class="flex flex-wrap gap-2">
                        <div *ngFor="let item of task?.informative"
                            class="border-round w-max flex align-items-center justify-content-center">
                            <entity-viewer
                                [entity]="{type:'user',value:item,invert:true,title:'Informed'|translate}"></entity-viewer>
                        </div>
                        <div *ngFor="let item of task?.consult"
                            class="border-round w-max  flex align-items-center justify-content-center">
                            <entity-viewer
                                [entity]="{type:'user',value:item,invert:true,title:'Consult'|translate}"></entity-viewer>
                        </div>
                        <div class="border-round w-max  flex align-items-center justify-content-center">
                            <entity-viewer
                                [entity]="{type:'user',value:task.accountable,invert:true,title:'Accountable'|translate}"></entity-viewer>
                        </div>

                    </div>


                </div>
                <app-comments [height]="commentsHeight" [comments]="task?.comments"
                    [sourse]="{module:'Task',id:task?.id}"></app-comments>

            </div>
        </div>
    </div>

</app-sidebar>