<div class="block">

    <div class="text-lg font-semibold mb-2">{{title}}
        <span *ngIf="required && !selectedStatus" style="color: var(--danger) !important">*</span>
    </div>
    <p-multiSelect [options]="statues" display="chip" [filter]="true" [name]="title" appendTo="body"
        [required]="required" [(ngModel)]="selectedStatus" (ngModelChange)="selectedStatusChange($event)"
        [disabled]="disabled" [optionLabel]="optionLabel" [filterBy]="optionLabel"
        placeholder="{{'Enter'|translate}} {{placeholder?placeholder:title}}" styleClass="dropdown-select">


        <ng-template pTemplate="selectedItem">
            <div  *ngIf="selectedStatus">
                <span class="p-1 mx-2 border-round" [style.background-color]="selectedStatus?.details?.color"></span>
                {{selectedStatus?.optionLabel}}
            </div>
        </ng-template>
        <ng-template let-statue pTemplate="item">
            <div class="my-2">
                <span *ngIf="showColor==true" class="p-1 mx-2 border-round"
                    [style.background-color]="statue?.details?.color"></span>
                <span > {{statue[optionLabel]}}</span>

            </div>

        </ng-template>



    </p-multiSelect>
</div>