<app-loading *ngIf="loading" display="full"></app-loading>

<app-sidebar [display]="display" (displayChange)="onHide()">
    <div header>
        <div class="flex justify-content-between flex-wrap ">
            <div class="flex align-items-center justify-content-center   ">
                <div class="flex-initial flex align-items-center justify-content-center mx-2">
                    <button pButton (click)="display=false;onHide()" pRipple type="button" icon="pi pi-times"
                        class="p-button-rounded p-button-secondary p-button-lg p-button-text btn-white "></button>
                </div>

                <div class="flex align-items-center justify-content-center border-break"></div>

                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <i class="pi pi-info-circle text-100 text-3xl " [class]="'css.mr-2'|translate"></i>
                    <entity-viewer
                        [entity]="{type:'text',title:'Module'|translate,value:data?.moduleName}"
                        [darkMode]="true"></entity-viewer>

                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>

                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <i class="pi pi-flag text-100 text-3xl " [class]="'css.mr-2'|translate"></i>
                    <entity-viewer
                        [entity]="{type:'text',title:'WorkFlow Type'|translate,value:data?.workflowRegistryName}"
                        [darkMode]="true"></entity-viewer>

                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>

                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <i class="pi pi-calendar text-100 text-3xl " [class]="'css.mr-2'|translate"></i>
                    <entity-viewer
                        [entity]="{type:'text',title:'CREATION DATE' | translate,value:data?.createdAt?.label}"
                        [darkMode]="true"></entity-viewer>

                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>

                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <entity-viewer [entity]="{type:'user',title:'CREATED BY'|translate,value:data?.createdBy}"
                        [darkMode]="true"></entity-viewer>

                </div>


            </div>
            <div class="flex align-items-center justify-content-center  " [class]="'css.pr-2'|translate">
                <button (click)="menu.toggle($event)" pButton pRipple type="button" icon="pi pi-ellipsis-v"
                    class="p-button-rounded p-button-secondary p-button-lg p-button-text btn-white "></button>
                <p-menu #menu [popup]="true" appendTo="body" [model]="data?.actions"></p-menu>

            </div>
        </div>
    </div>
    <div body>
        <div *ngIf="!loading" class="grid pt-0">
            <div class="lg:col-8 sm:col-12 pt-0 pb-4 overflow-y-auto" [class]="'css.border-right'|translate" style="height:calc(100vh - 120px)">
                <div #blockcol class="block pt-5" [class]="'css.pl-5'|translate">
                    <ng-container #title>
                        <div class="text-2xl font-semibold mb-4 ">{{data?.header}} </div>
                    </ng-container>

                    <ng-container #props>
                        <app-dynamic-properties-preview [props]="data?.data"
                            [colClass]="'col-3 '"></app-dynamic-properties-preview>
                    </ng-container>

                </div>
            </div>
            <div class="lg:col-4 sm:col-12 pt-0 overflow-y-auto overflow-x-hidden " [class.surface-50]="tabViewIndex==0" [class]="'css.pl-0'|translate">
        
                <p-tabView class="tabView-padding-0" [(activeIndex)]="tabViewIndex">
                    <p-tabPanel header="Process">
                        <ng-template pTemplate="content">
                            <app-stepper-vertical [data]="data?.workflowActivities"></app-stepper-vertical>
                        </ng-template>
                    </p-tabPanel>
                    <p-tabPanel header="Attachments">
                        <ng-template pTemplate="content">
                            <app-attachment [(attachments)]="data.attachments"  hideUpload="true" [hideTitle]="true"></app-attachment>
                        </ng-template>
                    </p-tabPanel>
                    <p-tabPanel header="Activity Log ">
                        <ng-template pTemplate="content">
                            <app-comments [height]="commentsHeight" [comments]="data?.history" [workflowComment]="true"
                            [registryId]="data?.registryId"
                                [sourse]="{module:'Task',id:task?.id}"></app-comments>
                        </ng-template>
                    </p-tabPanel>
                </p-tabView>
            </div>

        </div>


    </div>

</app-sidebar>