<div class="block">
    <ng-container *ngIf="hideTitle!=true">
        <div class="text-lg font-semibold mb-2">
            {{title}}
            <span *ngIf=" required && !value" style="color: var(--danger) !important">*</span>
        </div>
    </ng-container>

    <span class="relative">
        <!-- margin-top: 3px; -->
        <div class="absolute z-4 mt-1" [style.left]="currentLang=='en'?'89.5%':null"
            [style.right]="currentLang=='ar'?'89.5%':null">
            <p-colorPicker [(ngModel)]="value" (onHide)="onHideEvent($event)" name="color" styleClass="w-3rem border-circle" appendTo="body"></p-colorPicker>

        </div>
        <input [(ngModel)]="value" (change)="onHideEvent($event)" [class]="class" [required]="required" [disabled]="disabled" type="text"
            placeholder="{{'Enter'|translate}} {{title}}" [name]="title" pInputText />
    </span>


</div>