<div [style.height]="height+'px'" class="card p-0">
    <p-tabView>
        <p-tabPanel header="{{'Upcoming Meets'|translate}}">
            <div style="max-height: 68vh;" class="overflow-y-auto">

                <div *ngFor="let meeting of meetings?.upcomingMeetings" class="mb-3 font-semibold text-lg text-500">
                    <div class="block">
                        <i [class]="'css.mr-2' | translate" [style.color]="meeting?.priority?.details?.color"
                            class="pi pi-circle-fill"></i>
                        <span>{{meeting?.title}}</span>
                    </div>

                    <div [class]="'css.ml-4' | translate" class="mt-1 text-lg">
                        <p-tag styleClass="tag-secondary mx-2" icon="pi pi-calendar"
                            pTooltip="{{'Start Date' | translate}}" [value]="meeting?.startDateTime?.label"></p-tag>
                        <p-tag styleClass="tag-secondary mx-2" icon="pi pi-flag" pTooltip="{{'Priority' | translate}}"
                            [value]="meeting?.priority?.name"></p-tag>
                        <p-tag styleClass="tag-secondary mx-2" icon="pi pi-map-marker"
                            pTooltip="{{'Location' | translate}}" [value]="meeting?.location"></p-tag>

                    </div>
                </div>
                <div style="padding-top: 50%;" *ngIf="!meetings?.upcomingMeetings?.length"
                    class="font-semibold text-xl text-center" translate>
                    <i class="pi pi-exclamation-circle text-xl mx-2"></i>
                    No Upcoming Meetings
                </div>

            </div>
        </p-tabPanel>

        <p-tabPanel header="{{'Previous Meets'|translate}}">
            <div style="max-height: 68vh;" class="overflow-y-auto">

                <div *ngFor="let meeting of meetings?.previousMeetings" class="mb-3 font-semibold text-lg text-500">
                    <div class="block">
                        <i [class]="'css.mr-2' | translate" [style.color]="meeting?.priority?.details?.color"
                            class="pi pi-circle-fill"></i>
                        <span>{{meeting?.title}}</span>
                    </div>

                    <div [class]="'css.ml-4' | translate" class="mt-1 text-lg">
                        <p-tag styleClass="tag-secondary mx-2" icon="pi pi-calendar"
                            pTooltip="{{'Start Date' | translate}}" [value]="meeting?.startDateTime?.label"></p-tag>
                        <p-tag styleClass="tag-secondary mx-2" icon="pi pi-flag" pTooltip="{{'Priority' | translate}}"
                            [value]="meeting?.priority?.name"></p-tag>
                        <p-tag styleClass="tag-secondary mx-2" icon="pi pi-map-marker"
                            pTooltip="{{'Location' | translate}}" [value]="meeting?.location"></p-tag>

                    </div>
                </div>
                <div style="padding-top: 50%;" *ngIf="!meetings?.previousMeetings?.length"
                    class="font-semibold text-xl text-center" translate>
                    <i class="pi pi-exclamation-circle text-xl mx-2"></i>
                    No Previous Meetings
                </div>

            </div>
        </p-tabPanel>
    </p-tabView>

</div>