<app-breadcrumb [data]="breadcrumb"></app-breadcrumb>
<p-toast position="top-right"></p-toast>
<p-confirmDialog appendTo="body"></p-confirmDialog>
<div class="flex justify-content-between flex-wrap mb-2">
    <div class="flex align-items-center justify-content-center  ">

        <i class="pi pi-tags text-primary text-3xl"></i>
        <span class="mx-2 font-semibold text-3xl" translate>My Space</span>
    </div>
    <div class="flex align-items-center justify-content-center  ">

        <div class="flex align-items-center justify-content-center m-2 dir-int">
            <p-selectButton #selectButtonTarget (click)="onFilter(selectButtonTarget?.value)"
                [(ngModel)]="currentFilter"
                [options]="[{label: 'Approvals', value: 'PendingRequiredAction'}, {label: 'My Requests', value: 'MyRequest'}]"
                optionLabel="label" optionValue="value"></p-selectButton>
        </div>
        <div class="flex align-items-center justify-content-center m-2 border-break">

        </div>
        <div class="flex align-items-center justify-content-center m-2 ">
            <button pButton pRipple type="button" icon="pi pi pi-users text-lg"
                class="p-button-rounded p-button-outlined p-button-secondary2 "></button>
        </div>
        <div class="flex align-items-center justify-content-center m-2 ">
            <button pButton pRipple type="button" icon="pi pi pi-bars "
                class="p-button-rounded p-button-outlined p-button-secondary2 "></button>

        </div>

        <div class="flex align-items-center justify-content-center m-2">
            <button pButton pRipple type="button" icon="pi pi pi-th-large "
                class="p-button-rounded p-button-outlined p-button-secondary2 "></button>
        </div>
        <div class="flex align-items-center justify-content-center  m-2 ">
            <button pButton pRipple type="button" icon="pi pi-filter-fill " (click)="filterOverLay.toggle($event)"
                [class]="customFilter?.active?'p-button-secondary2-active':'p-button-secondary2'"
                class="p-button-rounded   "></button>

        </div>


    </div>
</div>
<div class="grid mt-2">
    <div class="lg:col-8 sm:col-12">
        <ng-container *ngIf="!loading">
            <app-my-space-card *ngFor="let item of workflowData" [data]="item"
                (onAction)="onAction($event)"></app-my-space-card>

            <div *ngIf="!workflowData?.length" class="font-semibold text-xl text-center mt-2" translate>
                <i class="pi pi-exclamation-circle text-xl mx-2"></i>
                No data to preview
            </div>

        </ng-container>
        <app-loading *ngIf="loading"></app-loading>
    </div>

    <div class="lg:col-4 sm:col-12">
        <div class="card" style="height: 400px;">
            <div class="card-header">
                <div class="card-title flex align-items-center">
                    <div class="text-xl font-semibold" translate>Calendar </div>
                </div>
            </div>
            <div class="font-semibold text-xl text-center mt-7" translate>
                <i class="pi pi-exclamation-circle text-xl mx-2"></i>
                No data to preview
            </div>
        </div>
    </div>

</div>




<ng-container *ngIf="displayDetailsWorkflow">

    <app-my-space-details [(display)]="displayDetailsWorkflow" (onAction)="onAction($event)"></app-my-space-details>

</ng-container>

<ng-container *ngIf="displayConfirmationModal">

    <app-my-space-actions [(display)]="displayConfirmationModal"></app-my-space-actions>


</ng-container>
<p-overlayPanel #filterOverLay>
    <ng-template pTemplate>
        <div class="w-20rem">

            <div class="block">
                <app-select-status [(ngModel)]="customFilter" [statues]="WorkflowDataTypes" optionLabel="label"
                    [title]="'Action Types'|translate" [showColor]="false"></app-select-status>
            </div>
            <div class="flex justify-content-between flex-wrap pt-4">
                <div class="flex align-items-center justify-content-center  ">
                    <button pButton (click)="onFilter('PendingRequiredAction',true)" pRipple type="button"
                        label="{{'Clear'|translate}}" icon='pi pi-refresh {{"css.mr-2"|translate}}'
                        class="p-button-secondary p-button-outlined p-button-sm"></button>
                </div>

                <div class="flex align-items-center justify-content-center  ">
                    <button (click)="onFilter(customFilter?.value);customFilter.active=true" pButton pRipple
                        type="button" class="p-button-sm" label="{{'Apply'|translate}}"
                        icon='pi pi-check {{"css.mr-2"|translate}}'></button>
                </div>
            </div>



        </div>
    </ng-template>
</p-overlayPanel>