<app-breadcrumb [data]="breadcrumb"></app-breadcrumb>
<p-toast position="top-right"></p-toast>
<p-confirmDialog appendTo="body"></p-confirmDialog>

<div class="flex justify-content-between flex-wrap mb-2">
    <div class="flex align-items-center justify-content-center  ">

        <i class="icon-committees  text-primary text-3xl"></i>
        <span class="mx-2 font-semibold text-3xl" translate>Committees</span>
    </div>
    <div class="flex align-items-center justify-content-center  ">
        
        <div class="flex align-items-center justify-content-center m-2 dir-int">
            <app-badge-button label='{{"All"|translate}}' (click)="getCommittees();selectedRole='all'" [value]="committees?.all" [active]="selectedRole=='all'"></app-badge-button>
        </div>
        <div class="flex align-items-center justify-content-center m-2 dir-int">
            <app-badge-button label='{{"Board Chairman"|translate}}' (click)="getCommittees('chairman');selectedRole='chairman'"  [active]="selectedRole=='chairman'" [value]="committees?.chairman"></app-badge-button>
        </div>
        <div class="flex align-items-center justify-content-center m-2 dir-int">
            <app-badge-button label='{{"Board Secretary"|translate}}' (click)="getCommittees('secretary');selectedRole='secretary'" [active]="selectedRole=='secretary'" [value]="committees?.secretary"></app-badge-button>
        </div>
        <div class="flex align-items-center justify-content-center m-2 dir-int">
            <app-badge-button label='{{"Board Member"|translate}}' (click)="getCommittees('members');selectedRole='members'" [active]="selectedRole=='members'"  [value]="committees?.members"></app-badge-button>
        </div>
        <div class="flex align-items-center justify-content-center m-2 border-break"></div>

        <div class="flex align-items-center justify-content-center m-2 ">
            <button pButton pRipple type="button" icon="pi pi-file text-lg"
                class="p-button-rounded p-button-outlined p-button-secondary2 "></button>
        </div>
        <div class="flex align-items-center justify-content-center m-2 ">
            <button pButton pRipple type="button" icon="pi pi pi-envelope text-lg"
                class="p-button-rounded p-button-outlined p-button-secondary2 "></button>
        </div>



        <div class="flex align-items-center justify-content-center  m-2 ">
            <button pButton pRipple type="button" icon="pi pi-filter-fill "
                class="p-button-rounded p-button-outlined p-button-secondary2 "></button>

        </div>

        <div  *ngIf="accessibility?.hasPermission==true" class="flex align-items-center justify-content-center m-2 ">
            <button pButton pRipple type="button" icon="pi pi pi-plus " (click)="showAddEditCommittees()"
                [label]="'New Committee'| translate"
                class="p-button-rounded p-button-outlined p-button-secondary2 text-btn"></button>

        </div>

    </div>
</div>

<div class="grid mt-3">
    <div class="lg:col-8  sm:col-12">
        <ng-container *ngIf="!loadingCommittees">
            <app-committee-card *ngFor="let committee of committees?.items" [committee]="committee"
                (click)="showCommitteesDetails(committee?.id)"></app-committee-card>

                <div  *ngIf="!committees?.items.length" class="font-semibold text-xl text-center mt-2">
                    <i class="pi pi-exclamation-circle text-xl mx-2"></i>
                    No committee to preview
                </div>

        </ng-container>
        <app-loading *ngIf="loadingCommittees"></app-loading>

    </div>

    <div class="lg:col-4 sm:col-12">

        <div class="card">
            <div class="card-header">
                <div class="card-title flex align-items-center">
                    <div class="text-xl font-semibold" translate>Activities
                    </div>
                </div>
            </div>
            <app-timeline-activities [module]="'committee'"></app-timeline-activities>


        </div>

    </div>
</div>

<app-committees-add-edit *ngIf="displayaddEdit" [(display)]="displayaddEdit"></app-committees-add-edit>
<app-committees-details *ngIf="displayCommitteesDetails" [(display)]="displayCommitteesDetails"></app-committees-details>

<app-add-edit-meetings *ngIf="displayAddEditMeetings" [(display)]="displayAddEditMeetings"></app-add-edit-meetings>
    
<app-meetings-details *ngIf="displayDetailsMeetings" [(display)]="displayDetailsMeetings"></app-meetings-details>