<div *ngIf="treeDocuments?.length" class="grid mt-2">
    <div class="lg:col-3 sm:col-6">
        <!-- <div class="p-1 border-all"> 
     
            </div> -->
        <p-tree styleClass="shadow-1 " class="custom-tree" selectionMode="single" expanded="true"
            [contextMenu]="contextMenu?.length?cm:null" [loading]="loading" (onNodeSelect)="showDocsSelect($event)"
            [(selection)]="selectedFolder" [value]="treeDocuments">
            <ng-template pTemplate="header">
                <div style="background-color: #FCFCFC;">
                    <button pButton pRipple type="button" (click)="showNewFolder('main')"
                        [label]="'New Folder'|translate" icon='pi pi-plus {{"css.mr-2"|translate}}'
                        class="p-button-text my-1 "></button>
                </div>
            </ng-template>
        </p-tree>
        <p-contextMenu #cm [model]="contextMenu" appendTo="body"></p-contextMenu>

    </div>
    <div class="lg:col-9 sm:col-12">
        <!-- <p-table *ngIf="selectedFolder" #dt styleClass="shadow-1 border-round p-datatable-striped" class="border-round"
            [value]="documents" dataKey="id" [rowHover]="true" [loading]="loadingTable">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between">
                    <div class="flex align-items-center justify-content-center  text-lg">
                        {{selectedFolder?.label}} ({{documents?.length}})

                    </div>
                    <div class="flex align-items-center justify-content-center  ">
                        <button *ngIf="checkPrivileges('CreateDocumentCommand')" pButton pRipple type="button"
                            (click)="showAddFile()" [label]="'New File'|translate" class="p-button-text p-0"
                            icon='pi pi-plus {{"css.mr-2"|translate}}'></button>
                    </div>

                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="bg-primary" translate style="width: 30%;">Name</th>
                    <th class="bg-primary" translate style="width: 30%;">Created By</th>
                    <th class="bg-primary" translate style="width: 30%;">Modified</th>
                    <th class="bg-primary" translate>Actions</th>

                </tr>
            </ng-template>


            <ng-template pTemplate="body" let-attachment let-i="rowIndex">
                <tr>
                    <td class=" font-semibold">
                        {{attachment?.name}}
                    </td>
                    <td class=" font-semibold">


                        <div class="flex-initial flex align-items-center  ">
                            <img [src]="attachment?.createdBy?.photo|| 'assets/images/user.png'" width="25" height="25"
                                style="border-radius: 50%;" [class]="'css.mr-2'|translate">
                            <span> {{attachment?.createdBy?.userName}}</span>

                        </div>
                    </td>
                    <td class=" font-semibold">
                        {{attachment?.created?.label }}
                        <span *ngIf="!attachment?.created">
                            __
                        </span>
                    </td>

                    <td>


                        <button (click)="selectedFile=attachment;attachmentsActinos.toggle($event)" pButton pRipple
                            type="button" icon="pi pi-ellipsis-v"
                            class="p-button-rounded p-button-secondary p-button-lg p-button-text  "></button>
                        <p-menu #attachmentsActinos [popup]="true" appendTo="body" [model]="attachmentsAction"></p-menu>
                    </td>

                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="4" class="text-center">

                        <div class="font-semibold text-xl text-center " translate>
                            <i class="pi pi-exclamation-circle  mx-2"></i>
                            No Files found
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table> -->

        <app-table #table [caption]="caption" [data]="documents" [columns]="columns"
            (inputSwitchChange)="activeDeactivatProperty($event)" [actionsColumns]="actionsColumns"
            [actionsTemplate]="{action:action}" [lodaing]="loadingTable">

            <div toolBarBtns>
                <!-- *ngIf="checkPrivileges('CreateDocumentCommand')"  -->
                    <button  pButton pRipple type="button" label="{{'New File'|translate}}" icon="pi pi-plus "
                        (click)="showAddFile()"
                        [ngClass]="['css.mr-2'|translate]"
                        class="p-button-raised p-button-secondary "></button>

            </div>

            <ng-template #action>
                <button (mouseenter)="setSelectedFile(table.selectedItem)" (click)="menu.toggle($event)" pButton
                    pRipple type="button" icon="pi pi-ellipsis-v font-semibold"
                    class="p-button-rounded p-button-secondary p-button-text  "></button>
                <p-menu #menu [popup]="true" appendTo="body" [model]="attachmentsAction"></p-menu>
            </ng-template>
        </app-table>
        
        <!-- <div *ngIf="!selectedFolder" class="font-semibold text-xl text-center mt-2" translate>
            <i class="pi pi-exclamation-circle text-xl mx-2"></i>
            No Selected Folder
        </div> -->
    </div>
</div>
<div *ngIf="!treeDocuments?.length" class="mt-6">
    <div class="font-semibold text-xl text-center ">
        <i class="pi pi-exclamation-circle  mx-2"></i>
        <span translate> No Documents found</span>
        ,
        <button pButton pRipple type="button" (click)="showNewFolder('main')"
            [label]="'Click here to add new folder'|translate" class="p-button-text text-xl p-0"></button>
    </div>
</div>
<app-modal *ngIf="editnewFolderModal" [(display)]="editnewFolderModal" [title]="header|translate" class="modal-sm">
    <div class="block" body>
        <input type="text" pInputText [(ngModel)]="newFolder" placeholder="{{'Enter name here'|translate}}">

    </div>
    <div footer>
        <button (click)="editnewFolderModal=false" pButton pRipple type="button" label="{{'Cancel'|translate}}"
            icon='pi pi-times {{"css.mr-2"|translate}}' class="p-button-secondary p-button-outlined"></button>

        <button *ngIf="mode=='ADD'" (click)="addNewFolder()" [disabled]="!newFolder || newFolder==' '" pButton pRipple
            type="button" label="{{'Save'|translate}}" icon='pi pi-check {{"css.mr-2"|translate}}'></button>

        <button *ngIf="mode=='EDIT'" (click)="editFolder()" [disabled]="!newFolder || newFolder==' '" pButton pRipple
            type="button" label="{{'Save'|translate}}" icon='pi pi-check {{"css.mr-2"|translate}}'></button>


    </div>
</app-modal>



<app-modal *ngIf="attahmentsFolderModal" [(display)]="attahmentsFolderModal" [title]="header|translate"
    class="modal-md">
    <div class="block" body>
        <app-attachment [(attachments)]="newAttachments" [hideTitle]="true"></app-attachment>

    </div>
    <div footer>
        <button (click)="attahmentsFolderModal=false" pButton pRipple type="button" label="{{'Cancel'|translate}}"
            icon='pi pi-times {{"css.mr-2"|translate}}' class="p-button-secondary p-button-outlined"></button>

        <button (click)="addFile()" pButton pRipple [disabled]="!newAttachments?.length" type="button"
            label="{{'Save'|translate}}" icon='pi pi-check {{"css.mr-2"|translate}}'></button>


    </div>
</app-modal>