<app-modal [display]="display" (displayChange)="onHide()" [title]="action?.details?.display+' '+'Confirmation'|translate" class="modal-md">
    <div class="block" body>
        <form #form="ngForm" body class="grid ">
            <div class="col-12">
                <app-text-area [(ngModel)]="data.body" name="message" [title]="'Reason'|translate"></app-text-area>

            </div>
            <div class="col-12">
                <app-attachment [(attachments)]="data.fileUid" (attachmentsChange)="onUpload()"  [hideUpload]="hideUploader"></app-attachment>

            </div>

        </form>

    </div>
    <div footer>
        <button pButton pRipple type="button" label="{{'Cancel'|translate}}" icon='pi pi-times {{"css.mr-2"|translate}}'
            (click)="onHide()" class="p-button-secondary p-button-outlined {{'css.pl-2'|translate}}"></button>

        <button pButton pRipple type="button" (click)="onConfirm()" label="{{'Confirm'|translate}}" icon='pi pi-check {{"css.mr-2"|translate}}'
            class="{{'css.pl-2'|translate}}"></button>

    </div>
</app-modal>