<app-breadcrumb [data]="breadcrumb"></app-breadcrumb>
<p-toast position="top-right"></p-toast>
<div class="flex justify-content-between flex-wrap mb-2 ">

    <div class="flex align-items-center justify-content-center w-8">

        <div class="flex justify-content-between flex-wrap mb-2 w-12">
            <div class="flex align-items-center justify-content-center  ">
                <i class="icon-news  text-primary text-3xl"></i>
                <span class="mx-2 font-semibold text-3xl" translate>News
                </span>
            </div>

            <div *ngIf="currentMode == 'list'" class="flex align-items-center justify-content-center mx-2 ">
                <div class="bg-white p-2 mt-2 border-round-lg w-max text-base text-color font-semibold shadow-1 "
                    pTooltip="{{'Source'|translate}}" tooltipPosition="bottom">

                    <label class="text-primary">
                        <i class="pi pi-globe mx-1 text-xs"></i>
                        {{customFilter?.title || 'All Sources'|translate }}
                    </label>

                </div>

            </div>
        </div>


    </div>

    <div class="flex align-items-center justify-content-center  ">

        <div class="flex align-items-center justify-content-center m-2 dir-int">
            <p-selectButton #selectButtonTarget (click)="changeMode(currentMode=selectButtonTarget?.value)"
                [(ngModel)]="currentMode"
                [options]="[{icon: 'pi pi-list', value: 'list'}, {icon: 'pi pi-chart-line', value: 'dashbored'}]"
                optionLabel="label" optionValue="value">
                <ng-template let-item>
                    <i [class]="item.icon" class="text-xl "></i>
                </ng-template>
            </p-selectButton>
        </div>
        <div class="flex align-items-center justify-content-center m-2 border-break"> </div>
        <div class="flex align-items-center justify-content-center m-2 ">
            <button pButton pRipple type="button" icon="pi pi pi-envelope text-lg"
                class="p-button-rounded p-button-outlined p-button-secondary2 "></button>
        </div>

        <div class="flex align-items-center justify-content-center  m-2 ">
            <button pButton pRipple type="button" icon="pi pi-filter-fill " (click)="filterOverLay.toggle($event)"
                [class]="customFilter?'p-button-secondary2-active':'p-button-secondary2'"
                class="p-button-rounded   "></button>
        </div>

        <div  *ngIf="accessibility?.hasPermission==true" class="flex align-items-center justify-content-center m-2 ">
            <button pButton pRipple type="button" icon="pi pi pi-plus " [label]="'Add News'| translate"
                (click)="showAddEditNews()"
                class="p-button-rounded p-button-outlined p-button-secondary2 text-btn"></button>

        </div>
    </div>
</div>

<app-list-news *ngIf="currentMode=='list'"></app-list-news>

<app-list-news-cards *ngIf="currentMode=='dashbored'"></app-list-news-cards>




<p-overlayPanel #filterOverLay>
    <ng-template pTemplate>
        <div class="w-20rem">

            <div class="block">
                <app-select-status [(ngModel)]="sourceFilter" [statues]="sources" optionLabel="title"
                    [title]="'Source'|translate" [showColor]="false"></app-select-status>
            </div>
            <div class="flex justify-content-between flex-wrap pt-4">
                <div class="flex align-items-center justify-content-center  ">
                    <button pButton (click)="clearFilter()" pRipple type="button" label="{{'Clear'|translate}}"
                        icon='pi pi-refresh {{"css.mr-2"|translate}}'
                        class="p-button-secondary p-button-outlined p-button-sm"></button>
                </div>

                <div class="flex align-items-center justify-content-center  ">
                    <button (click)="onFilter(sourceFilter)" pButton pRipple [disabled]="!sourceFilter" type="button"
                        class="p-button-sm" label="{{'Apply'|translate}}"
                        icon='pi pi-check {{"css.mr-2"|translate}}'></button>
                </div>
            </div>



        </div>
    </ng-template>
</p-overlayPanel>