<app-loading *ngIf="loading" display="full"></app-loading>
<app-sidebar [display]="display" (displayChange)="onHide()">
    <div header>
        <div class="flex justify-content-between flex-wrap ">
            <div class="flex align-items-center justify-content-center   ">
                <div class="flex-initial flex align-items-center justify-content-center mx-2">
                    <button pButton pRipple type="button" icon="pi pi-times" (click)="onHide()"
                        class="p-button-rounded p-button-secondary p-button-lg p-button-text btn-white "></button>
                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>

                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <i class="pi pi-calendar text-100 text-3xl " [class]="'css.mr-2'|translate"></i>
                    <entity-viewer
                        [entity]="{type:'text',title:'Start Date' | translate,value:committee?.startDate?.label}"
                        [darkMode]="true"></entity-viewer>
                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>

                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <span [class]="'css.mr-2'|translate">
                        <i class="pi pi-calendar text-100 text-3xl "></i>
                    </span>
                    <entity-viewer [entity]="{type:'text',title:'End Date' | translate,value:committee?.endDate?.label}"
                        [darkMode]="true"></entity-viewer>
                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>

                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <span [class]="'css.mr-2'|translate">
                        <i class="pi pi-flag text-100 text-3xl "></i>
                    </span>
                    <entity-viewer [entity]="{type:'text',title:'Type' | translate,value:committee?.type?.name}"
                        [darkMode]="true"></entity-viewer>
                </div>
                <!-- <div class="flex align-items-center justify-content-center border-break"></div>

                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <entity-viewer [entity]="{type:'user',title:'Chairman'|translate,value:committee?.chairman?.user}"
                        [darkMode]="true"></entity-viewer>

                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>

                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <entity-viewer [entity]="{type:'user',title:'Secretary'|translate,value:committee?.secretary?.user}"
                        [darkMode]="true"></entity-viewer>

                </div> -->


            </div>
            <div class="flex align-items-center justify-content-center  ">
                <div class="flex-initial flex align-items-center justify-content-center mx-2">
                    <button (click)="menu.toggle($event)" pButton pRipple type="button" icon="pi pi-ellipsis-v"
                        class="p-button-rounded p-button-secondary p-button-lg p-button-text btn-white "></button>
                    <p-menu #menu id="committeeActinos" [popup]="true" appendTo="body"
                        [model]="committeeActinos"></p-menu>

                </div>

                <div style="width:max-content;height: 65px;" [style.background]="committee?.status?.details?.color"
                    class="flex-initial flex align-items-center justify-content-center px-3">
                    <div class="text-center">
                        <div class="text-xl text-white font-semibold" translate>Status</div>

                        <span class="text-xl text-white "> {{committee?.status?.name}}</span>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <div body>
        <div *ngIf="!loading" class="block pt-0 ">
            <ng-container #title>
                <div class="block px-4">
                    <div class="text-xl font-semibold mb-1">{{committee?.title}}
                    </div>
                </div>
            </ng-container>
            <ng-container>
                <p-tabView>
                    <p-tabPanel header="{{'Details'|translate}}" leftIcon="pi pi-info-circle text-xl">
                        <div class="grid">
                            <div class="lg:col-6 sm:col-12 pt-3 overflow-y-auto" style="height:calc(100vh - 200px)"
                                [class]="'css.border-right'|translate">
                                <div class=" px-3">
                                    <div translate class="font-semibold text-lg">Details</div>
                                    <p [innerHTML]="committee?.details" class="text-base text-500 font-semibold py-2">
                                    </p>
                                </div>

                                <div class=" px-3 pt-5">
                                    <div class="font-semibold text-lg" translate>Deliverables</div>
                                    <div class="flex py-2" *ngFor="let item of committee?.deliverables">
                                        <div class="pi pi-circle-fill text-primary text-xs pt-2"></div>
                                        <div class=" text-base text-500 font-semibold mx-2">
                                            {{item}}
                                        </div>

                                    </div>
                                </div>

                                <div class=" px-3 pt-5">
                                    <div class="font-semibold text-lg" translate>Responsibilities</div>
                                    <div class="flex py-2" *ngFor="let item of committee?.chairmanResponsibilities">
                                        <div class="pi pi-circle-fill text-primary text-xs pt-2"></div>
                                        <div class=" text-base text-500 font-semibold mx-2">
                                            {{item}}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="lg:col-6 sm:col-12 pt-3 overflow-y-auto" style="height:calc(100vh - 200px)">
                                <div class="px-3">
                                    <div class="grid">
                                        <div class="col-4">

                                            <div class="flex-initial flex align-items-center ">
                                                <span [class]="'css.mr-2'|translate">
                                                    <i class="pi pi-flag  text-3xl "></i>
                                                </span>
                                                <entity-viewer
                                                    [entity]="{type:'text',title:'Type' | translate,value:committee?.type?.name}"></entity-viewer>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <entity-viewer
                                                [entity]="{type:'user',title:'Secretary'|translate,value:committee?.secretary?.user}"></entity-viewer>
                                        </div>
                                        <div class="col-4">
                                            <entity-viewer
                                                [entity]="{type:'user',title:'Chairman'|translate,value:committee?.chairman?.user}"></entity-viewer>
                                        </div>
                                        <div class="col-4">

                                            <div class="flex-initial flex align-items-center ">
                                                <i class="pi pi-calendar text-3xl " [class]="'css.mr-2'|translate"></i>
                                                <entity-viewer
                                                    [entity]="{type:'text',title:'Start Date' | translate,value:committee?.startDate?.label}"></entity-viewer>
                                            </div>
                                        </div>

                                        <div class="col-4">

                                            <div class="flex-initial flex align-items-center ">
                                                <i class="pi pi-calendar text-3xl " [class]="'css.mr-2'|translate"></i>
                                                <entity-viewer
                                                    [entity]="{type:'text',title:'End Date' | translate,value:committee?.startDate?.label}"></entity-viewer>
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <entity-viewer
                                                [entity]="{type:'status',title:'Status'|translate,value:committee?.status}"></entity-viewer>
                                        </div>
                                        <div class="col-4">
                                            <entity-viewer
                                                [entity]="{type:'status',title:'Flag'|translate,value:committee?.flag}"></entity-viewer>
                                        </div>

                                        <div class="col-4">
                                            <entity-viewer
                                                [entity]="{type:'status',title:'Recurrence'|translate,value:committee?.recurrence}"></entity-viewer>
                                        </div>
                                    </div>
                                    <ng-container #props *ngIf="committee?.props?.length">
                                        <div class="pt-4">
                                            <app-dynamic-properties-preview
                                                [props]="committee?.props"></app-dynamic-properties-preview>
                                        </div>
                                    </ng-container>
                                    <div class="mt-4">
                                        <app-attachment hideUpload="true"
                                            [(attachments)]="committee.attachments"></app-attachment>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </p-tabPanel>
                    <p-tabPanel header="{{'Members'|translate}}" leftIcon="pi pi-users text-xl">
                        <div class="px-3">
                            <p-table #dt scrollHeight="400px" styleClass="shadow-1 p-datatable-striped"
                                [value]="committee.members" dataKey="id" [rowHover]="true">
                                <ng-template pTemplate="caption">
                                    <div class="flex justify-content-between">
                                        <div class="flex align-items-center justify-content-center  text-lg">
                                            <span translate> Members </span> <span class="mx-1">
                                                ({{committee.members.length}}) </span>

                                        </div>
                                        <div *ngIf="checkPrivileges('CreateCommitteeMemberCommand')"
                                            class="flex align-items-center justify-content-center  ">
                                            <button pButton pRipple type="button" (click)="sohwAddNewMember()"
                                                [label]="'New Member'|translate" class="p-button-text p-0"
                                                icon='pi pi-plus {{"css.mr-2"|translate}}'></button>
                                        </div>

                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="bg-primary" translate>Name</th>
                                        <th class="bg-primary" translate>Role</th>
                                        <th class="bg-primary" translate>Email</th>
                                        <th class="bg-primary" translate>Mobile</th>
                                        <th class="bg-primary" translate>Join Date</th>
                                        <th class="bg-primary" translate>Actions</th>

                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-member let-i="rowIndex">
                                    <tr>
                                        <td class=" font-semibold">

                                            <div class="flex-initial flex align-items-center  ">
                                                <img [src]="member?.user?.photo|| 'assets/images/user.png'" width="25"
                                                    height="25" style="border-radius: 50%;"
                                                    [class]="'css.mr-2'|translate">
                                                <span> {{member?.user?.userName}}</span>

                                            </div>

                                        </td>
                                        <td class=" font-semibold">{{getRole(member?.role)}}</td>
                                        <td class=" font-semibold">{{xmember?.user?.email||'__'}}</td>
                                        <td class=" font-semibold">{{member?.user?.mobile ||'__'}}</td>
                                        <td class=" font-semibold">{{member?.joinDate?.label}}</td>
                                        <td>
                                            <button *ngIf="i>1 && checkPrivileges('DeleteCommitteeMemberCommand')"
                                                pButton pRipple class="p-button-danger p-button-text "
                                                (click)="deleteMembers(i)"
                                                icon="pi pi-trash text-xl font-bold"></button>
                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="{{'Meetings'|translate}}" leftIcon="pi pi-calendar text-xl">
                        <ng-template pTemplate="content">
                            <div class="px-3">
                                <app-committees-meetings [meetings]="committee.meetings" [addMeetingsPermission]="checkPrivileges('AddCommitteeMeetingCommand')"></app-committees-meetings>
                            </div>
                        </ng-template>


                    </p-tabPanel>
                    <p-tabPanel header="{{'Documents'|translate}}" leftIcon="pi pi-file text-xl">
                        <ng-template pTemplate="content">
                            <div class="px-3">
                                <app-committee-board-documents [committeeID]="committeeID" [privileges]="committeePrivileges"
                                    [boardDocuments]="committee?.folders"></app-committee-board-documents>
                            </div>
                        </ng-template>

                    </p-tabPanel>
                </p-tabView>
            </ng-container>
        </div>

    </div>
</app-sidebar>



<app-modal *ngIf="newMemberModal" [(display)]="newMemberModal" [title]="'New Member'|translate" class="modal-sm">
    <div class="block" body>
        <app-find-user [(ngModel)]="newMember" hideTitle="true" [title]="'Member'|translate"></app-find-user>
    </div>
    <div footer>
        <button (click)="newMemberModal=false" pButton pRipple type="button" label="{{'Cancel'|translate}}"
            icon='pi pi-times {{"css.mr-2"|translate}}' class="p-button-secondary p-button-outlined"></button>

        <button (click)="saveNewMember()" pButton pRipple [disabled]="!newMember" type="button"
            label="{{'Save'|translate}}" icon='pi pi-check {{"css.mr-2"|translate}}'></button>


    </div>
</app-modal>