<div class="grid">

    <div class="lg:col-7 sm:col-12">
        <div style="height:calc(100vh - 250px)" class="overflow-y-auto " [class]="'css.border-right'|translate">
            <div [class]="'css.mr-4'|translate" class="relative">
                <div class="absolute top-0 z-1 mt-2" [class]="'css.right-0'|translate">
                    <button *ngIf="addMeetingsPermission" pButton type="button" label="{{'New'|translate}}" (click)="showAddMeet()"
                        icon="pi pi-plus mx-2" class="p-button-text"></button>
                </div>
                <p-tabView>
                    <p-tabPanel header="{{'Upcoming Meetings'|translate}}">
                        <ng-template pTemplate="content">

                            <div *ngFor="let meet of meetings.upcomingMeetings" (click)="showDetailsMeet(meet?.id)"
                                class="card cursor-pointer my-2 card-calender-date ">
                                <div class="card-header pb-0">
                                    <div class="flex align-items-center">
                                        <div class="flex">
                                            <div class="calender-date border-all border-round"
                                                [class]="'css.mr-4'|translate">
                                                <div class="bg-primary text-center month font-semibold">
                                                    {{meet.startDateTime.value| date : 'EEE'}}
                                                </div>
                                                <div class=" font-semibold text-2xl text-center my-1">
                                                    {{meet.startDateTime.value| date : 'dd'}}

                                                </div>
                                            </div>
                                            <div class="card-title text-xl font-semibold ">{{meet.title}}
                                                <div class="flex">
                                                    <div class="surface-100 px-2 py-1 mt-2 border-round-md w-max text-base text-color"
                                                        pTooltip="{{'Date'|translate}}" tooltipPosition="bottom">
                                                        {{getTimeDIFF(meet)}}
                                                    </div>

                                                    <div class="surface-100 px-2 py-1 mt-2 mx-3 border-round-md w-max text-base text-color"
                                                        pTooltip="{{'Location'|translate}}" tooltipPosition="bottom">
                                                        {{meet.location}}
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                    <div>
                                        <badge-status [status]="meet?.priority" pTooltip="{{'Priority'|translate}}"
                                            tooltipPosition="top" class="mx-2"></badge-status>

                                    </div>
                                </div>
                                <div class=" flex justify-content-end -my-3">
                                    <entity-viewer
                                        [entity]="{type:'user',title:'Organizer'|translate,value:meet?.organizer}"></entity-viewer>
                                </div>
                            </div>
                            <div *ngIf="meetings.upcomingMeetings?.length==0"
                                class="font-semibold text-xl text-center mt-2" translate>
                                <i class="pi pi-exclamation-circle text-xl mx-2"></i>
                                No Upcoming Meetings
                            </div>
                        </ng-template>
                    </p-tabPanel>

                    <p-tabPanel header="{{'Previous Meetings'|translate}}"
                        [disabled]="meetings?.previousMeetings?.length==0">
                        <ng-template pTemplate="content">

                            <div *ngFor="let meet of meetings.previousMeetings" (click)="showDetailsMeet(meet?.id)"
                                class="card cursor-pointer my-2 card-calender-date ">
                                <div class="card-header pb-0">
                                    <div class="flex align-items-center">
                                        <div class="flex">
                                            <div class="calender-date border-all border-round"
                                                [class]="'css.mr-4'|translate">
                                                <div class="bg-primary text-center month font-semibold">
                                                    {{meet.startDateTime?.label| date : 'EEE'}}
                                                </div>
                                                <div class=" font-semibold text-2xl text-center my-1">
                                                    {{meet.startDateTime?.label| date : 'dd'}}

                                                </div>
                                            </div>
                                            <div class="card-title text-xl font-semibold ">{{meet.title}}
                                                <div class="flex">
                                                    <div class="surface-100 px-2 py-1 mt-2 border-round-md w-max text-base text-color"
                                                        pTooltip="{{'Date'|translate}}" tooltipPosition="bottom">
                                                        {{getTimeDIFF(meet)}}

                                                    </div>

                                                    <div class="surface-100 px-2 py-1 mt-2 mx-3 border-round-md w-max text-base text-color"
                                                        pTooltip="{{'Location'|translate}}" tooltipPosition="bottom">
                                                        {{meet.location}}
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                    <div>
                                        <badge-status [status]="meet?.priority" pTooltip="{{'Priority'|translate}}"
                                            tooltipPosition="top" class="mx-2"></badge-status>

                                    </div>
                                </div>
                                <div class=" flex justify-content-end -my-3">
                                    <entity-viewer
                                        [entity]="{type:'user',title:'Organizer'|translate,value:meet?.organizer}"></entity-viewer>
                                </div>
                            </div>

                        </ng-template>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>

    <div class="lg:col-5 sm:col-12">
        <div class="mt-3 font-semibold text-xl" translate>Meetings Summary</div>
        <div class="flex mt-4 ">
            <div style="width: 150px;" class="relative" [class]="'css.border-right'|translate">
                <p-chart type="doughnut" [data]="chartDoughnut"></p-chart>
                <div class="absolute text-center" [style.width.px]="currentLang=='ar'?145:138" style="top: 37%">
                    <div class=" font-semibold text-xl ">{{meetings?.summary?.all}}</div>
                    <div translate class="font-semibold text-500" translate>All</div>
                </div>
            </div>

            <div class="card shadow-2 mx-4 mt-3 text-center h-7rem ">
                <div class="font-semibold text-xl" [style.color]="meetings?.summary?.attended?.details?.color">
                    {{meetings?.summary?.attended?.value}}</div>
                <div class="text-xl mt-2" [style.color]="meetings?.summary?.attended?.details?.color">
                    {{meetings?.summary?.attended?.name}}</div>

            </div>

            <div class="card shadow-2 mt-3 text-center h-7rem ">
                <div class="font-semibold text-xl" [style.color]="meetings?.summary?.cancelled?.details?.color">
                    {{meetings?.summary?.cancelled?.value}}</div>
                <div class="text-xl mt-2" [style.color]="meetings?.summary?.cancelled?.details?.color">
                    {{meetings?.summary?.cancelled?.name}}</div>

            </div>

        </div>
    </div>
</div>