.calender-date {
    width: 75px;
    height: 60px;
    margin: -1px;
    border: solid  var(--surface-100) 1px !important;

}
.card-calender-date{
    border: solid  var(--surface-100) 1px !important;

}
.calender-date .month {
    margin: -1px;
    padding: 2px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}