<ng-container *ngIf="entity?.type=='text'">
    <div class="mb-1 font-semibold" [class]="darkMode?'text-100':'text-500'" translate [innerHtml]="entity.title"></div>

    <div *ngIf="entity?.value;else notFoundtext">
        <div class="font-semibold " [style.color]="entity.color"
        [class]="darkMode?'entiy-value':!entity.color?'text-color':null">{{entity.value }}</div>
        </div>
    <ng-template #notFoundtext>
           <div *ngIf="!entity?.value">
        <i class="fas fa-ban text-lg text-color font-semibold"></i>
    </div>
    </ng-template>


</ng-container>
<ng-container *ngIf="entity?.type=='url'">
    <div class="mb-1 font-semibold" [class]="darkMode?'text-100':'text-500'" translate [innerHtml]="entity.title"></div>

    <div *ngIf="entity?.value;else notFound">
        <a class="font-semibold cursor-pointer" href="{{entity?.url}}" target="_blank" [style.color]="entity.color"
        class="text-primary font-semibold">{{entity.value }}</a>
    </div>
    <ng-template #notFound>
           <div *ngIf="!entity?.value">
        <i class="fas fa-ban text-lg text-color font-semibold"></i>
    </div>
        
    </ng-template>

</ng-container>
<ng-container *ngIf="entity?.type=='status'">
    <div class="mb-3 font-semibold" [class]="darkMode?'text-100':'text-500'" translate [innerHtml]="entity.title"></div>
    <div *ngIf="entity?.value;else notFound">
        <badge-status [status]="entity?.value"></badge-status>
    </div>
    <ng-template #notFound>
           <div *ngIf="!entity?.value">
        <i class="fas fa-ban text-lg text-color font-semibold"></i>
    </div>
    </ng-template>
</ng-container>
<ng-container *ngIf="entity?.type=='multiStatus'">

    <div class="mb-3 font-semibold" [class]="darkMode?'text-100':'text-500'" translate [innerHtml]="entity.title"></div>
    <div *ngIf="entity?.value;else notFound">
    <div class="flex flex-wrap  ">
            <div *ngFor="let item of entity?.value" class="flex align-items-center justify-content-center "
                class="mb-4">
                <badge-status [status]="item" [class]="'css.mr-2'|translate"></badge-status>
            </div>
        </div>
        <ng-template #notFound>
               <div *ngIf="!entity?.value">
        <i class="fas fa-ban text-lg text-color font-semibold"></i>
    </div>
        </ng-template>

    </div>

</ng-container>


<ng-container *ngIf="entity?.type=='link'">
    <div class="mb-1 font-semibold" [class]="darkMode?'text-100':'text-500'" translate [innerHtml]="entity.title"></div>

    <div *ngIf="entity?.value;else notFound">
        <button pButton type="button" label="{{'View'|translate}}" (click)="showLink(entity.value)"
        routerLinkActive="router-link-active" class="p-button-text p-0  text-primary "></button>
    </div>
    <ng-template #notFound>
           <div *ngIf="!entity?.value">
        <i class="fas fa-ban text-lg text-color font-semibold"></i>
    </div>
    </ng-template>


</ng-container>
<ng-container *ngIf="entity?.type=='user'">
    <div *ngIf="entity?.value;else notFound">
        <div *ngIf="!entity.invert" class="flex">
            <p-avatar #avatar [image]="entity?.value?.photo || './assets/images/user.png'" styleClass="m-2 avatar-lg"
                shape="circle"></p-avatar>
            <div class="mt-2">
                <div class="mb-1 font-semibold" [class]="darkMode?'text-100':'text-500'" translate
                    [innerHtml]="entity.title"></div>
                <div class="font-semibold" [style.color]="entity.color"
                    [class]="darkMode?'entiy-value':!entity.color?'text-color':null">{{entity?.value?.displayName}}</div>
            </div>
    
    
        </div>
        <div *ngIf="entity.invert" class="flex">
            <p-avatar #avatar [image]="entity?.value?.photo || './assets/images/user.png'" styleClass="m-2 avatar-lg"
                shape="circle"></p-avatar>
            <div class="mt-2">
                <div class="font-semibold" [style.color]="entity.color"
                    [class]="darkMode?'entiy-value':!entity.color?'text-color':null">{{entity?.value?.displayName}}</div>
                <div class="mb-1 font-semibold" [class]="darkMode?'text-100':'text-500'" [innerHtml]="entity.title"></div>
    
            </div>
    
    
        </div>
    </div>
    <ng-template #notFound>
        <div class="mb-1 font-semibold" [class]="darkMode?'text-100':'text-500'" translate [innerHtml]="entity.title"></div>
           <div *ngIf="!entity?.value">
        <i class="fas fa-ban text-lg text-color font-semibold"></i>
    </div>

    </ng-template>
 

  
</ng-container>
<ng-container *ngIf="entity?.type=='user2'">
    <div class="mb-1 font-semibold" [class]="darkMode?'text-100':'text-500'" [innerHtml]="entity.title"></div>

    <div *ngIf="entity?.value;else notFound">
        <div class="relative">
            <p-avatar #avatar [image]="entity?.value?.photo || './assets/images/user.png'" styleClass="avatar-sm"
                shape="circle"></p-avatar>
    
            <span class="absolute mx-1 font-semibold text-color">{{entity?.value?.displayName}}</span>
    
        </div>
    </div>
    <ng-template #notFound>
           <div *ngIf="!entity?.value">
        <i class="fas fa-ban text-lg text-color font-semibold"></i>
    </div>
    </ng-template>


</ng-container>

<ng-container *ngIf="entity?.type=='users'">
    <div class="mb-1 font-semibold" [class]="darkMode?'text-100':'text-500'" translate [innerHtml]="entity.title"></div>

    <div *ngIf="entity?.value?.length;else notFound">
        <div class="flex">
            <p-avatar *ngFor="let item of entity?.value | slice: 0:show" #avatar
                [image]="item?.photo || './assets/images/user.png'" styleClass='{{"css.ml-1"|translate}}  avatar-md'
                shape="circle" [pTooltip]="item?.displayName" tooltipPosition="top"></p-avatar>
    
            <p-avatar *ngIf="entity?.value?.length>5&&showAll!=true" [label]="show==5?'+'+show:'-'"
                (click)="show==5?show=entity?.value?.length:show=5" shape="circle" styleClass='avatar-md'></p-avatar>
    
        </div>
    </div>
    <ng-template #notFound>
           <div *ngIf="!entity?.value?.length">
        <i class="fas fa-ban text-lg text-color font-semibold"></i>
    </div>
    </ng-template>

  

</ng-container>


<ng-container *ngIf="entity?.type=='progress'">
    <div class="text-base text-500 mb-2 font-semibold" translate>{{entity?.title}}</div>

    <div *ngIf="entity?.value;else notFound">
        <app-prgoress [(value)]="entity.value"></app-prgoress>

    </div>
    <ng-template #notFound>
           <div *ngIf="!entity?.value">
        <i class="fas fa-ban text-lg text-color font-semibold"></i>
    </div>
    </ng-template>


</ng-container>