<div [style.right]="lang=='ar'?0:null" class="menu-wrapper" [ngClass]="{'layout-sidebar-active': appMain.sidebarActive}"
    (click)="appMain.onSidebarClick($event)" (mouseover)="appMain.onSidebarMouseOver($event)"
    (mouseleave)="appMain.onSidebarMouseLeave($event)">
    <div class="sidebar-logo">

        <!-- <a href="#" class="p-button-lg p-button-text" (click)="appMain.onToggleMenu($event)">
            

        </a> -->
        <button pButton pRipple type="button" class="p-button-lg p-button-text p-button-secondary"
            icon=" font-semibold text-2xl pi pi-bars"></button>

    </div>
    <div #menuContainer class="layout-menu-container">
        <ul class="layout-menu">
            <li app-menuitem *ngFor="let item of model; let i = index;" [item]="item" [index]="i" [root]="true"
                (click)="activeControlPanel=false;activeTeamPanel=false"></li>
        </ul>
      
    </div>

</div>