<app-loading *ngIf="loading" display="full"></app-loading>
<p-toast position="top-right"></p-toast>
<p-confirmDialog appendTo="body"></p-confirmDialog>

<div style="height:calc(100vh - 68px) ;" class="grid  pt-0">
    <div class="lg:col-6 sm:col-12 pt-0">
        <div class="card home-Card border-noround">
            <div class="px-3 pt-2">
                <!-- User -->
                <div class=" text-6xl font-bold  text-color" translate>Welcome Back,<br>
                    {{currentUser}}
                </div>
                <!-- Tasks -->
                <div class=" text-4xl font-semibold text-500 mt-5">
                    {{'You have'|translate}}
                    <span class="text-primary font-bold ">{{statistics?.unFinishedTasks}} {{'Unfinished
                        Tasks'|translate}}</span>, {{'We recommend that you please finish them' |translate}}
                </div>

                <!-- Responsibilities -->
                <div style="margin-top: 10rem;">
                    <div class=" text-4xl font-semibold mb-4" translate>
                        YOUR RESPONSIBILITIES
                    </div>
                    <!-- summary -->
                    <div class="grid">
                        <div *ngFor="let item of statistics?.raci" class="col-3">
                            <div class="text-5xl " [style.color]="item?.details?.color">{{item?.value}}</div>
                            <div class="text-2xl text-500">{{item?.name}}</div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="lg:col-6 sm:col-12">
        <div class="pt-4">
            <div class="flex justify-content-between flex-wrap mb-2">
                <div class="flex align-items-center justify-content-center font-semibold text-2xl text-600 ">
                    {{header|translate}}
                </div>
                <div class="flex align-items-center justify-content-center  mx-4">


                    <div class="flex align-items-center justify-content-center m-2 ">
                        <button pButton pRipple type="button" icon="icon-tasks text-lg" (click)="showTasks()"
                            [class]="currentMode=='Tasks'?'p-button-secondary2-active':'p-button-secondary2'"
                            class="p-button-rounded p-button-outlined  "></button>
                    </div>
                    <div class="flex align-items-center justify-content-center m-2 ">
                        <button pButton pRipple type="button" icon="icon-business-meeting text-lg"
                            (click)="showMeetingsCard()"
                            [class]="currentMode=='MeetingCard'?'p-button-secondary2-active':'p-button-secondary2'"
                            class="p-button-rounded p-button-outlined  "></button>

                    </div>

                    <div class="flex align-items-center justify-content-center m-2">
                        <button pButton pRipple type="button" icon="pi pi-calendar text-lg" (click)="showCalendar()"
                            [class]="currentMode=='Calendar'?'p-button-secondary2-active':'p-button-secondary2'"
                            class="p-button-rounded p-button-outlined p-button-secondary2 "></button>
                    </div>


                    <div class="flex align-items-center justify-content-center  m-2 ">
                        <button pButton pRipple type="button" icon="pi pi-at text-lg"
                            class="p-button-rounded p-button-outlined p-button-secondary2 "></button>
                    </div>

                </div>
            </div>
        </div>
        <div *ngIf="currentMode=='Tasks'" style="padding-top: 10%;">
            <ng-container *ngIf="statistics?.tasks?.length">

                <div class="flex text-center dir-rtl" >
                    <div class="w-2 my-auto">
                        <div class="mb-7">
                            <button pButton (click)="carouselTask.navBackward()" pRipple type="button" icon="pi pi-angle-right text-2xl"
                                class="p-button-rounded p-button-text "></button>
                        </div>
                    </div>
                    <div class="w-10">
                        <p-carousel #carouselTask [showNavigators]="false" [value]="statistics?.tasks" [numScroll]="1"
                            [circular]="true" [autoplayInterval]="5000">
                            <ng-template let-task pTemplate="item">
                                <div class="flex  align-items-center justify-content-center">
                                    <app-home-task-card class="cursor-pointer" (click)="showTaskDetails(task?.id)"
                                        [task]="task"></app-home-task-card>
                                </div>
                            </ng-template>
                        </p-carousel>
                    </div>
                    <div class="w-2 my-auto">
                        <div class="mb-7 ">
                            <button pButton pRipple (click)="carouselTask.navForward()" type="button" icon="pi pi-angle-left text-2xl"
                            class="p-button-rounded p-button-text "></button>
                        </div>
                    </div>

                </div>
            </ng-container>
            <div *ngIf="!statistics?.tasks?.length" class="font-semibold text-xl text-center mt-6">
                <i class="pi pi-exclamation-circle text-xl mx-2"></i>
                No data to preview
            </div>
        </div>
        <div *ngIf="currentMode=='MeetingCard'" style="padding-top: 10%;">
  

            <ng-container  *ngIf="statistics?.meetings?.length">

                <div class="flex text-center dir-rtl" >
                    <div class="w-2 my-auto">
                        <div class="mb-7">
                            <button pButton (click)="carouselMeetings.navBackward()" pRipple type="button" icon="pi pi-angle-right text-2xl"
                                class="p-button-rounded p-button-text "></button>
                        </div>
                    </div>
                    <div class="w-10">
                        <p-carousel #carouselMeetings [value]="statistics?.meetings" [showNavigators]="false" [numScroll]="1"
                        [circular]="true">
                        <ng-template let-meet  pTemplate="item">
                            <div class="flex  align-items-center justify-content-center">
                                <app-home-calender-card class="cursor-pointer" [meet]="meet"
                                    (click)="showMeetDetails(meet?.id)"></app-home-calender-card>
                            </div>
                        </ng-template>
                    </p-carousel>
                    </div>
                    <div class="w-2 my-auto">
                        <div class="mb-7 ">
                            <button pButton pRipple (click)="carouselMeetings.navForward()" type="button" icon="pi pi-angle-left text-2xl"
                            class="p-button-rounded p-button-text "></button>
                        </div>
                    </div>

                </div>
            </ng-container>
            <div *ngIf="!statistics?.meetings?.length" class="font-semibold text-xl text-center mt-6">
                <i class="pi pi-exclamation-circle text-xl mx-2"></i>
                No data to preview
            </div>
        </div>
        <div *ngIf="currentMode=='Calendar'" class="home-fullcalendar" style="padding-top: 2%;">
            <app-home-calendar [meetings]="statistics?.meetings"
                (meetClick)="showMeetDetails($event)"></app-home-calendar>

        </div>
    </div>
</div>
<ng-container *ngIf="displayTaskDetails">
    <app-task-form [(display)]="displayTaskDetails"></app-task-form>
</ng-container>


<ng-container *ngIf="displayAddEditTask">
    <app-task-EditAdd [(display)]="displayAddEditTask"></app-task-EditAdd>
</ng-container>


<ng-container *ngIf="displayAddEditTask">
    <app-task-EditAdd [(display)]="displayAddEditTask"></app-task-EditAdd>
</ng-container>


<ng-container *ngIf="displayAddEditCalender">
    <app-add-edit-meetings [(display)]="displayAddEditCalender"></app-add-edit-meetings>
</ng-container>

<ng-container *ngIf="displayCalenderDetails">
    <app-meetings-details [(display)]="displayCalenderDetails"></app-meetings-details>
</ng-container>