<app-breadcrumb [data]="breadcrumb"></app-breadcrumb>
<p-toast position="top-right"></p-toast>
<p-confirmDialog appendTo="body"></p-confirmDialog>

<div class="flex justify-content-between flex-wrap mb-2">
    <div class="flex align-items-center justify-content-center  ">

        <i [class]="currentModule?.icon" class="  text-primary text-3xl"></i>
        <span class="mx-3 font-semibold text-3xl" >{{currentModule?.name}}</span>
    </div>

  

</div>
<div class="card mt-3">
    <app-table #table [caption]="caption" [data]="data" [columns]="columns" [actionsColumns]="actionsColumns"
        [reorderableColumns]="false" [actionsTemplate]="{action:action}" [lodaing]="loading">

        <ng-template #action>
            <button (mouseenter)="setSelectedEntry(table?.selectedItem)" (click)="menu.toggle($event)" pButton pRipple type="button" icon="pi pi-ellipsis-v font-semibold"
                class="p-button-rounded p-button-secondary p-button-text  "></button>
            <p-menu #menu [popup]="true" appendTo="body" [model]="moduleActions"></p-menu>
        </ng-template>

        <div toolBarBtns>


            <button pButton pRipple type="button" (click)="initSelectedEntry();showAddEdit()" label="{{'New Group'|translate}}" icon="pi pi-plus "
            [ngClass]="['css.pl-3'|translate , 'css.mr-2'|translate]"
            class="p-button-raised p-button-secondary "></button>
  
       </div>
    </app-table>
</div>
<ng-container *ngIf="displayAddEdit">
    <app-add-edit-custom-module [(display)]="displayAddEdit"></app-add-edit-custom-module>
</ng-container>

<ng-container *ngIf="displayDetails">
    <app-custom-module-details [(display)]="displayDetails"></app-custom-module-details>
</ng-container>
