<div class="card cursor-pointer mb-5">
    <div class="card-header">
        <div class="card-title flex align-items-center">
            <div class="text-xl font-semibold ">{{committee.title}}
                <div class="surface-100 px-2 my-1 border-round-md w-max text-base text-color"
                    pTooltip="{{'Type'|translate}}" tooltipPosition="bottom">{{committee?.type?.name}}</div>

            </div>
        </div>
        <div>
            <badge-status [status]="committee?.flag" pTooltip="{{'Flag'|translate}}" tooltipPosition="top"
                class="mx-2"></badge-status>
            <badge-status [status]="committee?.status" pTooltip="{{'Status'|translate}}"
                tooltipPosition="top"></badge-status>
        </div>
    </div>

    <div class="grid">
        <div class="col-3 ">
            <entity-viewer
                [entity]="{type:'text',title:'Start Date',value:committee?.startDate?.label}"></entity-viewer>
        </div>
        <div class="col-3">
            <entity-viewer [entity]="{type:'text',title:'End Date',value:committee?.endDate?.label}"></entity-viewer>
        </div>
        <!-- <div class="col-3 pb-0">
            <entity-viewer [entity]="{type:'text',title:'Type',value:committee?.type}"></entity-viewer>
        </div> -->
        <div class="col-3 ">
            <entity-viewer [entity]="{type:'user',title:'Chairman',value:committee?.chairman?.user}"></entity-viewer>
        </div>

        <div class="col-3 ">
            <entity-viewer [entity]="{type:'user',title:'Secretary',value:committee?.secretary?.user}"></entity-viewer>
        </div>


    </div>
    <ng-container *ngIf="committee?.props?.length">
        <div class="py-3">
            <app-dynamic-properties-preview [props]="committee?.props"
                [colClass]="'col-3 py-0'"></app-dynamic-properties-preview>
        </div>
    </ng-container>
</div>