<div class="exception-body notfound">

    <div class="exception-wrapper">
        <div class="exception-content">
            <img src="assets/layout/images/pages/asset-404.svg" alt="freya-layout" />
            <span>404</span>
            <span class="exception-subtitle">Looks like you are lost.</span>
            <button pButton pRipple type="button" label="Go back to home"  ></button>
        </div>
        <div class="exception-footer">
            <img  src="assets/images/diwanlogo.svg" width="75">

            <h6>© Diwan by Master team, All Rights Reserved</h6>
        </div>
    </div>
</div>
